@import './_mixins.scss';
@import './_variables.scss';

#the-full-palette {
    font-family: 'Roboto', sans-serif;

    .main-header {
        @include header-design();
    }

    .banner img {
        width: 100%;
        height: 28vh;
        object-fit: cover;
        object-position: top;
        display: block;
    }

    .menu {
        position: relative;
        margin-top: -30px;
        padding: 30px 20px;
        background-color: $lightgrey;
        border-radius: 35px 35px 0 0;
    }

    .menu-header {
        display: flex;
        align-items: center;
        position: relative;

        h2 {
            font-family: 'Shrikhand', sans-serif;
            font-size: 22px;
        }

        i {
            position: absolute;
            right: 20px;
            font-size: 22px;
            color: black;
        }

        .fa-solid {
            color: transparent;
            background-image: linear-gradient(40deg, #FF79DA, #9356DC);
            -webkit-background-clip: text;
            background-clip: text;
            opacity: 0;
            transition: all 200ms ease-in-out;
        }

        .fa-solid:hover {
            opacity: 1;
        }
    }

    .menu-header i {
        position: absolute;
        right: 20px;
        font-size: 22px;
        color: black;
    }

    .menu-header .fa-solid {
        color: transparent;
        background-image: linear-gradient(40deg, #FF79DA, #9356DC);
        -webkit-background-clip: text;
        background-clip: text;
        opacity: 0;
        transition: all 200ms ease-in-out;
    }

    .menu-header .fa-solid:hover {
        opacity: 1;
    }

    .menu-parent {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-top: 30px;

        &__category {
            margin-bottom: 30px;

            h3 {
                font-size: 17px;
                font-weight: 300;
                padding-bottom: 20px;
            }
        }
    }

    .menu-item {
        display: flex;
        background-color: $lightergrey;
        margin-bottom: 15px;
        border-radius: 15px;
        box-shadow: 0 5px 15px #cac9c9;
        position: relative;


        &__description {
            padding: 13px 0 13px 15px;


            h4 {
                font-size: 16px;
                font-weight: 500;
                padding-bottom: 4px;
            }

            p {
                font-size: 14px;
                font-weight: 300;
                text-overflow: ellipsis;
            }
        }

        &__price {
            margin-left: auto;
            font-weight: bold;
            position: absolute;
            right: 20px;
            bottom: 13px;
        }
    }


















    .order {
        width: 100%;
        display: flex;
        justify-content: center;

        .order-btn {
            @include order-button();
        }

        :hover {
            box-shadow: 0 5px 10px 2px #717070;
            background-image: linear-gradient(355deg, #9c5ee9, #f988d9);
        }
    }

    footer {
        @include footer-design ();
    }
}